header {
	display: flex;
	margin-left: 70px;
	padding-left: 3%;
	padding-right: 3%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

body {
	font-family: 'Nunito',sans-serif;
    font-size: 18px;
    line-height: 1.6;
    /*font-weight: bold;*/
}

p {
	padding-right: 35px;
	padding-left: 35px;
	/*font-weight: 900;*/
	
}

h3 {
	padding-right: 35px;
	padding-left: 35px;
	color: #DC143C;
	font-weight: 1050;
	text-align: center;
}

#intro {
	width: 100%;
	justify-content: center;
}



