header {
	display: flex;
	margin-left: 70px;
	padding-left: 3%;
	padding-right: 3%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

body {
	font-family: 'Nunito',sans-serif;
	font-size: 18px;
	line-height: 1.6;
}

p {
	padding-top: 5px;
	padding-right: 25px;
	padding-left: 25px;
	
}

h3 {
	padding-right: 35px;
	padding-left: 35px;
	color: #DC143C;
	text-align: center;
}


#main {
	width: 80%;
	justify-content: center;
	margin-left: 10%;
	margin-right: 10%;

}

.flex_box_container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.flex_box_item {
	display: block;
	/*height: 100px;*/
	width: 40%;
}

label {
	padding-top: 5px;
	font-style: italic;
	font-weight: 900;
	color: navy;
}


.flex_box_item p {
	margin-top: 5px;
}

#flex_box_bottom {
	display: flex;
	justify-content: center;
}

#box_left {
	background-color: #004d99;
	width: 38%;
}

#box_right {
	width: 35%;
	background-color: white;
	margin-bottom: 30px;
	margin-left: -30px;
}

#box_left p {
	color: white;
	z-index: 2;
}

#box_right p {
	color: #DC143C;
}

#source {
	display: flex;
	width: 100%;
	padding-top: 1px;
	background-color: #f5f5f0;
}

#source ul li a {
	color: black;
	text-decoration-style: none;
	font-size: 12px;
}

#source ul {
	list-style-type: none;
}

.footer_wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
	grid-auto-rows: minmax(70px, auto)
}

.footer_list {
  grid-auto-rows: 25%;
  grid-gap: 1em;
  border: 2px solid blue;
}

.footer_list img {
	width: 125px;
	height: 95px;
	margin-top: 25px;
}

.footer_list ul {
	color: black;
	list-style-type: none;
	font-size: 12px;
	line-height: 0.7;
}

.footer_list li {
	color: black;
	text-decoration: none; 
	list-style-type: none;
	font-size: 12px;
	margin-top: 25px;
	line-height: 0.7;
}

.footer_list h6 {
	margin-top: 25px;
	margin-bottom: 1px;
	margin-left: 30px;
	line-height: 0.7;
}


