header {
	display: flex;
	margin-left: 70px;
	padding-left: 3%;
	padding-right: 3%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

body {
	font-family: 'Nunito',sans-serif;
	font-size: 18px;
	line-height: 1.6;
}

p {
	padding-top: 5px;
	padding-right: 25px;
	padding-left: 25px;
	
}

h3 {
	padding-right: 35px;
	padding-left: 35px;
	color: #DC143C;
	text-align: center;
}


#main {
	width: 80%;
	justify-content: center;
	margin-left: 10%;
	margin-right: 10%;

}

.flex_box_container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.flex_box_item {
	display: block;
	/*height: 100px;*/
	width: 40%;
}



.flex_box_item p {
	margin-top: 5px;
}

/*BOTTOM BOXES*/

#flex_box_bottom {
	display: flex;
	justify-content: center;
}

#box_left {
	background-color: #004d99;
	width: 38%;
}

#box_right {
	width: 35%;
	background-color: white;
	margin-bottom: 30px;
	margin-left: -30px;
}

#box_left p {
	color: white;
	z-index: 2;
}

#box_right p {
	color: #DC143C;
}

#source {
	display: flex;
	width: 100%;
	padding-top: 1px;
	background-color: #f5f5f0;
}

#source ul li a {
	color: black;
	text-decoration-style: none;
	font-size: 12px;
}

#source ul {
	list-style-type: none;
}

/*FOOTER*/

.footer_wrapper {	
	display: inline-flex;
	width: 100%;
}

.footer_list {
	display: block;
	margin-top: 35px;
}

.footer_list img {
	width: 155px;
	height: 115px;
	
}

.footer_list li {
	color: black;
	text-decoration: none; 
	list-style-type: none;
	font-size: 12px;
	line-height: 1.6;
	
}




/*CHECKBOXES */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

label {
	padding-top: 5px;
	font-style: italic;
	font-weight: 900;
	color: navy;
}

